<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RegressionSuite">
    <listeners>
        <listener class-name="com.wings.utils.listener"/>
    </listeners>
    <test name="Download Latest Files">
        <classes>
            <class name="com.wings.tests.downloadLatest"/>
        </classes>
    </test>
    <test name="Company Creation Test">
        <classes>
            <class name="com.wings.tests.CompanyCreation"/>
        </classes>
    </test>
</suite>